{
	"width": 1334,
	"height": 1334,
	"thumb": "//cdn-1251935573.cos.ap-chengdu.myqcloud.com/gsp/c740/1.png",
	"layer": [
		{
			"id": 1,
			"name": "底图",
			"type": "staticImage",
			"x": 0,
			"y": 0,
			"width": 1334,
			"height": 1334,
			"url": "//cdn-1251935573.cos.ap-chengdu.myqcloud.com/gsp/c740/1.png"
		},
		{
			"id": 2,
			"name": "图片1",
			"type": "userImage",
			"x": 923,
			"y": 812,
			"height": 240,
			"width": 240
		}
	]
}
