{
	"width": 1334,
	"height": 1334,
	"thumb": "https://cdn-1251935573.cos.ap-chengdu.myqcloud.com/gsp/c740/1.png",
	"layer": [
		{
			"id": 1,
			"type": "staticImage",
			"left": 0,
			"right": 0,
			"width": 1334,
			"height": 1334,
			"url": "https://cdn-1251935573.cos.ap-chengdu.myqcloud.com/gsp/c740/1.png"
		},
		{
			"id": 2,
			"type": "userImage",
			"left": 923,
			"right": 812,
			"height": 240,
			"width": 240
		}
	]
}
