{
	"width": 1334,
	"height": 1334,
	"thumb": "//demo.ekuai.tech/cdn/c740/1.png",
	"layer": [
		{
			"id": 1,
			"name": "底图",
			"type": "staticImage",
			"x": 0,
			"y": 0,
			"width": 1334,
			"height": 1334,
			"url": "//demo.ekuai.tech/cdn/c740/1.png"
		},
		{
			"id": 2,
			"name": "图片1",
			"type": "userImage",
			"x": 923,
			"y": 812,
			"height": 330,
			"width": 330
		}
	]
}
